html,body{
   margin: 0px;
   padding: 0px;
   min-width: 100%;
   min-height: 100%; 
}

h1, h4{
    font-weight: bolder !important;
}

p{
    font-weight: bold;
}

.skill p{
    font-size: small;
}

hr{
    border-top: dotted 2px !important;
}

@media screen and (max-width: 992px){
    h1{
        font-size: xx-large !important;
    }

    h4{
        font-size: larger !important;
    }
}