<!DOCTYPE html>
<html lang="fr" class="h-100 translated-ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="../customizer/css/custom.css" />
    <link rel="stylesheet" href="../assets/fontAwesome/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>ProjetCG</title>
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container col-lg-8">
            <header class="mt-5 pb-3">
                <h1 style="color: deepskyblue;">Le Conseil départemental,<br/> comment ça fonctionne?</h1>
            </header>
            <!-- first row -->
            <section id="actionSocial" class="row ">
                <h4 class="col-12">Le Département chef de file des solidarités humaines<br/> et territoriales</h4>
                <p class="col-12 pt-3"><i class="fas fa-caret-right"></i> Il organise, impulse, coordonne et anime.</p>
                <div class="column col-lg-4 skill text-center">
                    <img class="" src="../assets/media/icons/D-home.jpg" alt="icône de deux maisons colorés" />
                    <p class="col text-center">ACTION SOCIAL,<br/> DÉVELOPPEMENT SOCIAL <br/>ET CONTRIBUTION À <br/>LA RÉSORPTION DE LA <br/>PRÉCARITÉ ÉNERGÉTIQUE</p>
                </div>
                <div class="column col-lg-4 skill text-center">
                    <img src="../assets/media/icons/homAge.jpg" alt="icône d'un homme âgée " />
                    <p class="col text-center">AUTONOMIE <br/> DES <br/>PERSONNES</p>
                </div>
                <div class="column col-lg-4 skill text-center">
                    <img src="../assets/media/icons/solidarité.jpg" alt="icône de solidarité" />
                    <p class="col">SOLIDARITÉ <br/>TERRITORIALE</p>
                </div>
            </section>

            <hr />
            <!-- second row -->
            <section id="competenceExclu" class="row">
                <h4 class="col-12 mb-4">Les compétences exclusives</h4>
                <div class="column col-lg-2 skill text-center">
                    <img class="" src="../assets/media/icons/homeRed.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">AIDES<br/> SOCIALES</p>
                </div>
                <div class="column col-lg-2 skill text-center">
                    <img class="" src="../assets/media/icons/voirie.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">LA VOIRIE<br/> DÉPARTEMENTALE</p>
                </div>
                <div class="column col-lg-3 skill text-center">
                    <img class="" src="../assets/media/icons/transport.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">TRANSPORT SCOLAIRE<br/> DES ENFANTS<br/> HANDICAPÉS</p>
                </div>
                <div class="column col-lg-3 skill text-center">
                    <img class="" src="../assets/media/icons/college.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">GESTION<br/> DES COLLÈGES</p>
                </div>
                <div class="column col-lg-2 skill text-center">
                    <img class="" src="../assets/media/icons/ingenierie.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">INGENIERIE<br/> TERRITORIALE</p>
                </div>
            </section>

            <!-- third row -->
            <section id="compExclu2" class="row">
                <div class="column offset-lg-1 col-lg-2 skill text-center">
                    <img class="" src="../assets/media/icons/incendie.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">SERVICE DEPARTEMENTAL<br/> D'INCENDIE ET DE SECOURS</p>
                </div>
                <div class="column col-lg-3 skill text-center">
                    <img class="" src="../assets/media/icons/modeAccueil.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">MODES<br/> D'ACCUEIL</p>
                </div>
                <div class="column col-lg-3 skill text-center">
                    <img class="" src="../assets/media/icons/nature.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">ESPACES NATURELS<br/> SENSIBLES</p>
                </div>
                <div class="column col-lg-3 skill text-center">
                    <img class="" src="../assets/media/icons/sport.jpg" alt="icône d'une maison rouge" />
                    <p class="col text-center">SPORTS<br/> NATURE</p>
                </div>
            </section>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>